*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input {
  border-style: none;
  background: transparent;
  outline: none;
}
button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
a {
  all: unset;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-bg;
  font-family: $font-primary;
  color: $color-text-primary;
  font-size: $fs-sm;
  padding: 0 $space-md;
}

section {
  position: relative;
  padding-top: $space-lg;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    height: 1px;
    background: $color-text-primary;
  }
}
