// Colors
$color-bg: #151515;
$color-text-primary: #fff;
$color-text-secondary: #afafaf;
$color-highlight: #5ad8a1;
$color-gradient: #202020;

// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Inter', sans-serif;

// Spacing
$space-xxxs: 0.3rem;
$space-xxs: 0.5rem;
$space-xs: 1.5rem;
$space-sm: 2rem;
$space-md: 2.5rem;
$space-lg: 3rem;
$space-xl: 4rem;

// Font size
$fs-xs: 1.2rem;
$fs-sm: 1.4rem;
$fs-md: 2rem;
$fs-lg: 2.2rem;
$fs-xl: 2.5rem;
$fs-xxl: 3rem;
